
<div class="row" style='margin-top:200px;'>
  <div class="col-xs-8 col-xs-offset-2" style='background-color:rgba(255, 255, 255, 0.38)'>

    <div class="row"><input type="text" class="form-control" ng-model='User.username' placeholder="Username"></div>
    <div class="row"><input type="password" class="form-control" ng-model='User.password' placeholder="Password"></div>
    <div class="row">
      <div class="btn btn-success pull-right" ng-click='Register()'>
        REGISTER
      </div>
      <div class="btn btn-success pull-right" ng-click='Login()'  style="margin-right:10px">
        LOGIN
      </div>
    </div>

  </div>
</div>


<style>
  body{
    background-image : url(images/background.jpg);
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    min-height:{{WindowHeight}}px
  }
</style>
